@{
    ViewData["Title"] = "Home Page";
}
<div class="wrapper fadeInDown">
    <div id="formContentDisplay">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="#">Hollywood</a>.</p>
        </div>
    </div>
</div>