@{
    ViewData["Title"] = "Home Page";
}
<div class="wrapper fadeInDown">
    <div id="formContentDisplay">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="#">Hollywood</a>.</p>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(function() {
            var successMassage = '@TempData["SuccessfullyNotify"]';
            if (successMassage != '')
                alertify.success(successMassage);
        });
        $(function() {
                var Error = '@TempData["Error"]';
                if (Error != '')
                    alertify.error(Error);
            });
    </script>
}